@font-face {
  font-family: "Floreal";
  src: url(https://github.com/allinant-r/romain/blob/main/FONT/adelphe/otf/Adelphe-FlorealSemiBold.otf);
}

html {
  font-family: "Floreal", Arial, sans-serif;
}
