@font-face {
  font-family: 'Floreal', sans-serif;
  src: url(https://github.com/allinant-r/romain/blob/main/FONT/adelphe/webfonts/Adelphe-FlorealBold.woff) format('woff'),
    url(https://github.com/allinant-r/romain/blob/main/FONT/adelphe/webfonts/Adelphe-FlorealBold.woff2) format('woff2');
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
}

h1 {
  font-size: 40px;
  font-family: 'Floreal', Arial, sans-serif;
  text-align: center;
}

p {
  font-size: 40px;
  font-family: 'Floreal', Arial, sans-serif;
  text-align: center;
}
